pid_file = "./pidfile"

vault {
  address = "http://vault.service.consul:8200"
  retry {
    num_retries = 5
  }
}

auto_auth {
  method {
    [% if auto_auth == 'approle' -%]
    type       = "approle"
    mount_path = "auth/[[ approle.mount ]]"
    config = {
      role_id_file_path                   = "[[ approle.role_id_file_path ]]"
      remove_secret_id_file_after_reading = false
      role                                = "[[ approle.role ]]"
    }
    [% endif %]

  }

  sink {
    type = "file"
    wrap_ttl = "30m"
    config = {
      path = "/home/consul/.wrapped_token"
    }
  }
}

cache {
  use_auto_auth_token = true
}

listener "tcp" {
  address = "127.0.0.1:8100"
  tls_disable = true
}

[% for t in vault_agent_templates %]

template {
  source = "[[ t.template_source ]]"
  destination = "[[ t.destination ]]"
}

[% endfor %]
